* {
  font-family: "Noto Serif", serif;
}
/* common style */
.container {
  max-width: 1140px;
  margin: 30px auto;
}
.flex {
  display: flex;
}
.text-gray {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.both-title {
  font-size: 50px;
  font-weight: bold;
}
/* header code start here */
.header-main {
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
}
.logo {
  width: 130px;
  height: 80px;
}
nav ul li {
  list-style: none;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
nav ul li i {
  color: black;
}
.active {
  color: black;
}
/* Banner section code */
.banner-section {
  /* border: 5px solid black; */
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.banner-title {
  margin-top: 163px;
}
.banner-title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}
.banner-title span {
  color: rgb(233, 90, 8);
}
.banner-images {
  margin-top: 108px;
  /* border: 1px solid red; */
}
/* our plants */
.plants-section {
  margin-top: 120px;
}
.plants-title {
  text-align: center;
  width: 888px;
  margin: 0 auto;
}
.plants-title h1 {
  margin-bottom: 0;
  margin-top: 0px;
}
.plants-title p {
  margin-bottom: 50px;
}
.plants-title span {
  color: #e95a08;
}
.plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* border: 1px solid rgb(145, 23, 23); */
  text-align: center;
}
.card {
  width: 270px;
  height: 485px;
  /* border: 2px solid black; */
}
.card img {
  width: 270px;
  height: 323px;
}
.card .btn {
  width: 100%;
  height: 35px;
  background-color: #e95a08;
  border: none;
  color: whitesmoke;
}
.card h3,
h4 {
  margin-bottom: 0;
  margin-top: 22.5px;
}
.card h3 {
  font-weight: 400;
}
.card h4 {
  font-weight: 700;
  margin-bottom: 30px;
}
/* Challenge part code start */
.challenge-section {
  gap: 60px;
}
.plants-section {
  margin-bottom: 127px;
}
.challeng-imag {
  width: 540px;
  height: 597px;
}
.challeng-imag img {
  width: 100%;
}
.trasted-img {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 460px;
  top: 2000px;
}
.challng-title {
  height: 519px;
  width: 540px;
  margin-top: 39px;
}
.challng-title h2 {
  margin-top: 35px;
}
.challng-title ul li {
  margin: 30px 0;
}
/* Latest Deals code  */
.latest-title span {
  color: #e95a08;
}
.latest-title {
  margin-bottom: 70px;
  justify-items: center;
  text-align: center;
  height: 137px;
}
.latest-title h3 {
  line-height: 10px;
  margin-bottom: 40px;
}
.challenge-section {
  margin-bottom: 121px;
}
.letest-images-main {
  gap: 20px;
}
.left-side-images {
  width: 366.22px;
  height: 206px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  position: relative;
}
.left-side-images img {
  width: 100%;
  border-radius: 10px;
}
.top-title {
  position: absolute;
  color: whitesmoke;
}
.right-side-images {
  width: 753px;
  height: 423.13px;
  position: relative;
}
.right-side-images img {
  width: 100%;
  border-radius: 10px;
}
.tops-title {
  position: absolute;
  z-index: 1;
  color: whitesmoke;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 27px;
  justify-items: center;
}
.topss-title {
  position: absolute;
  z-index: 1;
  color: whitesmoke;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /* border: 2px solid red; */
  height: 27px;
  justify-items: center;
}
.topss-title h2 {
  font-size: 30px;
  line-height: 20px;
}
.tops-title h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.tops-title a {
  font-size: 16px;
  color: whitesmoke;
  font-weight: 600px;
  margin-left: 90px;
}
.topss-title a {
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600px;
  margin-left: 150px;
  line-height: 0px;
}
.center-title {
  position: absolute;
  z-index: 1;
  color: whitesmoke;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid black; */
  width: 270px;
  height: 27px;
  justify-items: center;
}
.center-title h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.center-title a {
  font-size: 16px;
  color: whitesmoke;
  font-weight: 600px;
  margin-left: 90px;
}
.left-side-images img,
.right-side-images img {
  filter: brightness(80%) blur(0.7px);
  width: 100%;
  display: block;
}
/* bunch section */
.bunch-section {
  width: 100%;
  margin: 0 auto;
}

.bck-title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid black; */
  width: 830px;
  text-align: center;
}
.bck-title h2 {
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 15px;
}
.bck-title input,
button {
  font-size: 16px;
  font-weight: 600;
}
.bck-title input {
  width: 644px;
  height: 50px;
  border: none;
  padding: 0 10px;
}
.bck-title input,
button:focus {
  outline: none;
}
.bck-title button {
  height: 50px;
  border: none;
  padding: 0 10px;
  background-color: #e95a08;
  color: whitesmoke;
  margin-left: -5px;
}
.bck-img {
  margin-top: 120px;
  position: relative;
}
.bck-img img {
  width: 100%;
  height: 60vh;
}
/* footer code start here */
.footer-section {
  width: 100%;
  height: 250px;
  margin: auto;
}
.footer-main {
  width: 1120px;
  margin: 50px auto;
}
.footer-title {
  flex: 80px;
  overflow: hidden;
  padding: 0 50px;
}
.logo p {
  width: 250px;
}
.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 60px;
  text-align: justify;
  padding: 0 50px;
}
.links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}
.icon {
  flex: 1;
  margin: 0 10px;
  width: 216px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* responsive for mobile */

@media screen and (max-width: 576px) {
  nav a {
    display: none;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }
  .cart {
    width: 113px;
    height: 24px;
    /* border: 2px solid black; */
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-images {
    width: 393.18px;
    height: 245px;
  }
  .banner-images img {
    width: 100%;
    overflow: hidden;
  }
  .banner-title {
    width: 361px;
    height: 147px;
    /* border: 1px solid black; */
    margin-top: 18px;
  }
  .banner-title h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 13px;
  }
  .banner-title p {
    font-size: 14px;
  }
  /* our plants */
  .plants-title {
    width: 393px;
    height: 117px;
    justify-items: center;
    margin-top: 65px;
    margin-bottom: 28px;
  }
  .plants-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin-top: 100px;
    width: 362px;
    margin-left: 15px;
  }
  .card {
    width: 171px;
    height: 340.5px;
  }
  .card img {
    width: 171px;
    height: 196.5px;
  }
  .card h3,
  h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
  }
  /* challenge section  */
  .trasted-img {
    display: none;
  }
  .challng-title h2 br {
    display: none;
  }
  .plants-section {
    margin-bottom: 41.5px;
  }
  .challenge-section {
    flex-direction: column;
    gap: 18px;
  }
  .challeng-imag {
    position: static;
    width: 358px;
    height: 396px;
    margin: 18px 10px;
  }
  .challeng-imag img {
    width: 100%;
    overflow: hidden;
  }
  .challng-title {
    width: 361px;
    height: 234px;
    margin: 2px 0;
  }
  .challng-title h2 {
    font-size: 24px;
    font-weight: 700px;
    line-height: 33px;
    width: 270px;
    height: 33px;
  }
  /* letast deil */
  .challenge-section {
    margin-bottom: 400px;
  }
  .latest-title {
    margin-bottom: 60px;
    justify-items: center;
  }
  .letest-images-main {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
    justify-items: center;
  }
  .left-side-images {
    width: 361px;
    height: 177px;
  }
  .left-side-images img {
    width: 100%;
  }
  .right-side-images {
    width: 361px;
    height: 177px;
    margin-top: 235px;
  }
  .right-side-images img {
    width: 100%;
  }
  .left-side-images img,
  .right-side-images img {
    filter: brightness(50%) blur(0.9px);
    width: 100%;
    display: block;
  }
  .center-title {
    top: 155%;
  }
  .topss-title h2 {
    font-size: 25px;
    line-height: 20px;
  }
  /* bucn section */

  .bunch-section {
    width: 100%;
    margin: 0 auto;
  }
  .bck-title h2 {
    font-size: 18px;
  }
  .bck-img {
    width: 393px;
    height: 175px;
    margin-top: 100px;
  }
  .bck-img img {
    height: 100%;
    overflow: hidden;
  }
  .bck-title {
    width: 318px;
  }
  .bck-title input {
    width: 200px;
    height: 50px;
    border: none;
    padding: 0 10px;
  }
  /* footer */
  .footer-title {
    margin-bottom: 30px;
  }
  .footer-main {
    flex-direction: column;
  }
  .logo p {
    font-size: 10.5px;
    /* width: 280px; */
  }
  .links {
    grid-template-columns: 1fr;
  }
  .icon {
    margin: 10px 40px;
    text-align: start;
  }
  .footer-section {
    width: 100%;
    height: 350px;
    margin: auto;
  }
  .footer-section {
    width: 100%;
    height: 68vh;
    margin: auto;
    overflow: hidden;
  }
}
